*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat' !important;
    font-weight: normal;
    overflow-x: hidden;
    line-height: 1.5;
}
ul{
    list-style-type: none;
}